<header>
    <div class="header-content">
        <div class="logo">DAILY WALLPAPERS</div>
        <nav class="search">
        <ul>
            <li><a href='/'>Profile</a></li>
            <li>About</li>
            <li><a href="/wallpaper">wallpapers</a></li>
        </ul>
        </nav>
    </div>
</header>