<header>
    <div class="header-content">
        <div class="logo">DAILY WALLPAPERS</div>
        <nav class="search">
       <p>for your wallpaper and wallpaper accessories</p>
        </nav>
    </div>
</header>