body {
    font-family: sans-serif;
}

header {
    background-color: rgb(0, 0, 0);
}
h1 {
    font-size: 2em;
    font-weight: bold;   
}

.logo {
    font-size: 2em;
    color: rgb(10, 202, 36);
    font-weight: bold;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    font-weight: bold;
    font-size: 2em;
    color: rgb(10, 202, 36);
    background-color: rgb(0, 0, 0);
}

